# Node
frontend/node_modules
frontend/dist
client-portal/node_modules
client-portal/dist

# Python
backend/.venv
backend/.mypy_cache
backend/__pycache__/
test_suite.db
backend/.pytest_cache

# Env
.env

# IDE
.idea/
.vscode/
